<!-- http://api.rubyonrails.org/classes/ActionView/Helpers/CaptureHelper.html -->
<% content_for :acbeu do %>


  <style>
  .text-vertical-center{ 
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  ul {
    list-style-type: none;
  }
  .header {
    font-family: 'Alpaca';
    display: table;
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #000; /* #eed724; */
/*    background: url(https://gabinete-lembrancas.s3.amazonaws.com/uploads/photo/picture/188/andarai02.jpg) no-repeat center center scroll;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
.btn-red {
  color: #000;
  background-color:#eed724; /* #e65454;*/
  border-color: #ccc;
}
.btn-red :hover,
.btn-red :focus,
.btn-red :active,
.btn-red .active,
.open > .dropdown-toggle.btn-red {
  color: #e65454;
  background-color: #fff;
  border-color: #adadad;
}

.ui360,
.sm2-360ui {
  /* size of the container for the circle, etc. */
  width: 600px;
  height:600px;
}
  </style>


    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1 style="font-family: 'Alpaca'; font-size: 60px">VOZES E SONS DO GABINETE</h1>
            <h2 style="font-family: 'Alpaca'">Aqui você pode ouvir todos os documentos de áudio relativos ao nosso projeto </h2>
            <br>
          <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-2">
              <a class="btn btn-lg btn-red page-scroll" style="font-size: 30px; margin-top: 5px" href="#lista-para-audio" role="button">HISTÓRIAS</a>
            </div>
            <div class="col-xs-12 col-md-4  ">
              <a class="btn btn-lg btn-red" style="font-size: 30px; margin-top: 5px" href="#navbar" role="button">SONS</a>
            </div>
          </div>
        </div>
    </header>

    <div id="lista-para-audio" style="background-color: gray">  </div>
  <% @gabinete_objects_chapada.each_with_index do |gabinete_object, index| %>  
    <% @expo = Exhibit.find_by(id: gabinete_object.exhibit_id) %>
    <% letra = " " %>
    <% if @expo.cidade == "Andaraí" %>
      <% letra = "A" %>
    <% elsif @expo.cidade == "Morro do Chapéu" %>
      <% letra = "M" %>
    <% elsif @expo.cidade == "Palmeiras" %>
      <% letra = "P" %>
    <% end %>

    <% gabinete_object.photos.each do |ima| %>
      <% @imagem_capa = ima if ima.ocapa == true %>
    <% end %>

    <% if !@imagem_capa.nil? %>
      <% pic = @imagem_capa.picture %>
      <% @imagem_capa = nil %>
    <% else %>
      <% pic = gabinete_object.photos.first.picture if gabinete_object.photos.any? %>
    <% end %>

    <% if !pic.nil? %>
      <div id ="acbeu-id_<%= gabinete_object.expo_ID %>" class="img-gal col-xs-12" style="background-image: url(<%= pic.url %>);  background-repeat: no-repeat;  background-position: center; position: relative; display: block; height: 600px"> 
        <div class="row">
          <div class="col-xs-6 col-xs-offset-6 text-vertical-center " style="position: absolute; background-color: rgba(0,0,0,.5); margin-top: 150px; height: 300px">
            <p style="color: yellow; font-family: 'Alpaca'; font-size: 160px; margin-top: 120px"> <%= letra+" "+ gabinete_object.expo_ID.to_s %> <p>
            <p style="color: yellow; font-family: 'Alpaca'; font-size: 40px; margin-top: 60px; line-height: 100% "><%= gabinete_object.nome.upcase %> <p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" style="position: absolute" class="audio-btn" id="obj-<%= index %>" >
            <!--  <%= link_to image_tag("filtro_transp.png", width:'100%', :alt => " "), gabinete_object %> -->
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 col-xs-offset-1" style="position: absolute; margin-top:150px">
            <div class="ui360 ui360-vis">
              <a href="https://s3-sa-east-1.amazonaws.com/gabinete-lembrancas/audios/m/MONALISA.mp3"> </a>
            </div>
          </div>
        </div>

      </div>
    <% end %>

  <% end %>
<% end %>
