<!-- http://api.rubyonrails.org/classes/ActionView/Helpers/CaptureHelper.html -->
<% content_for :acbeu do %>

  <style>
  .text-vertical-center{ 
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  ul {
    list-style-type: none;
  }
  .header {
    font-family: 'Alpaca';
    display: table;
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #000; /* #eed724; */
/*    background: url(https://gabinete-lembrancas.s3.amazonaws.com/uploads/photo/picture/188/andarai02.jpg) no-repeat center center scroll;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
.btn-red {
  color: #000;
  background-color:#eed724; /* #e65454;*/
  border-color: #ccc;
}
.btn-red :hover,
.btn-red :focus,
.btn-red :active,
.btn-red .active,
.open > .dropdown-toggle.btn-red {
  color: #e65454;
  background-color: #fff;
  border-color: #adadad;
}

  </style>


    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1 style="font-family: 'Alpaca'">Bem-vindo à Exposição!</h1>
            <h3 style="font-family: 'Alpaca'">Aqui você pode ouvir todos os documentos de áudio relativos ao nosso projeto </h3>
            <br>
          <div class="row">
            <div class="col-xs-4 col-xs-offset-2">
              <a class="btn btn-lg btn-red" href="#navbar" role="button">HISTÓRIAS</a>
            </div>
            <div class="col-xs-4 ">
              <a class="btn btn-lg btn-red" href="#navbar" role="button">SONS</a>
            </div>
          </div>
          
        </div>
    </header>

 
  <% @gabinete_objects_chapada.each_with_index do |gabinete_object, index| %>  
    <% @expo = Exhibit.find_by(id: gabinete_object.exhibit_id) %>
    <% letra = " " %>
    <% if @expo.cidade == "Andarai" %>
      <% letra = "A" %>
    <% elsif @expo.cidade == "Morro do Chapéu" %>
      <% letra = "M" %>
    <% elsif @expo.cidade == "Palmeiras" %>
      <% letra = "P" %>
    <% end %>

    <% gabinete_object.photos.each do |ima| %>
      <% @imagem_capa = ima if ima.ocapa == true %>
    <% end %>

    <% if !@imagem_capa.nil? %>
      <% pic = @imagem_capa.picture %>
      <% @imagem_capa = nil %>
    <% else %>
      <% pic = gabinete_object.photos.first.picture if gabinete_object.photos.any? %>
    <% end %>

    <% if !pic.nil? %>
      <div id ="gal-obj_<%= index %>" class="img-gal col-xs-12" style="background-image: url(<%= pic.url %>);  background-repeat: no-repeat;  background-position: center; position: relative; display: block; height: 600px"> 
        <div class="row">
          <div class="col-xs-6 col-xs-offset-6 text-vertical-center " style="position: absolute; background-color: rgba(0,0,0,.5); margin-top: 150px; height: 300px">
            <p style="color: yellow; font-family: 'Alpaca'; font-size: 120px; margin-top: 80px"> <%= letra+index.to_s %> <p>
            <p style="color: yellow; font-family: 'Alpaca'; font-size: 40px; margin-top: 50px; line-height: 100% "><%= gabinete_object.nome.upcase %> <p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" style="position: absolute" class="audio-btn" id="obj-<%= index %>" >
            <%= link_to image_tag("filtro_transp.png", width:'100%', :alt => " "), gabinete_object %>
          </div>
        </div>
      </div>
    <% end %>

  <% end %>

<% end %>

<script>
 </script>  
