<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comentario %><br>
    <%= f.text_area :comentario %>
  </div>
  <div class="field">
    <%= f.label :pessoa %><br>
    <%= f.text_field  :pessoa, placeholder: 'Nome da pessoa que escreveu se tiver' %>
  </div>

  <%= f.hidden_field :exhibit_id, :value => @exhibit.id if !@exhibit.nil? %>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
</div>
</div>

