<p id="notice"><%= notice %></p>

<p>
  <strong>Comentario:</strong>
  <%= @comment.comentario %>
</p>

<p>
  <strong>Pessoa:</strong>
  <%= @comment.pessoa %>
</p>

<p>
  <strong>Exhibit:</strong>
  <%= @comment.exhibit %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
