<li id="gabinete_object-<%= gabinete_object.id %>" >
            <div class="row">
              <div class="col-md-6">
                <% pic = gabinete_object.photos.first.picture if gabinete_object.photos.any?%>
                <span class="content">
                <%= image_tag pic.url  if !pic.nil? %>
                </span>
              </div>
              <div class="col-md-6">
                <div class="row">
                    <h1>  <%= gabinete_object.nome %> </h1>
                  </div>
                <div class="row">
                  <h2> <%= gabinete_object.pessoa %> |
                  <%= gabinete_object.idade %> </h2>
              </div>
          </div>
        </li>

