<!-- IMAGEM DE INICIO -->
<!-- <div id="inicio-pag" class="expo-ini" style="background: url('<%=@imagem_portada.picture.url if !@imagem_portada.nil? %>') no-repeat center center fixed; "> 
  <div class="espaco-imagem"> 
  <h1> </h1>
  </div>
</div>
-->

<!-- VIDEO -->
<% if !@exhibit.video_src.blank? %>
  <br>
    <div class='myIframe' id="video-expo" > 
      <iframe src="<%=@exhibit.video_src %>" frameborder="0" allowfullscreen></iframe>
    </div>
  <br>
<% end %>

<!-- INFO DA CIDADE --> 
<div id="cidade" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center ">
        <h1 class="titulo"> <%= @exhibit.cidade.upcase %> </h1>
        <h4 class="texto-interno"> do <%= @exhibit.datainicio %> à <%= @exhibit.datafim %> </h4>
        <h4 class="texto-interno"> <%= @exhibit.local %> </h4>
      </div>
    </div>
    <!-- /.row -->
  </div>
</div>

  <!-- Map -->
<div class="map">
  <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="<%= @exhibit.map %>"></iframe>
    <br />
</div>
<br><br><br>

<!-- TITULO PARA MOSTRA DA EXPOSIÇÃO   -->  
<div id="a-expo" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 ">
        <h3 class="titulo-int text-center"> A EXPOSIÇÃO </h3>
        <p class="texto-interno"><%=simple_format(@exhibit.descripcion) %></p>
      </div>
    </div>
    <!-- /.row -->
  </div>

  <!-- carousel ================================================== -->
  <div id="mycarousel" class="carousel slide" data-ride="carousel">
    <!-- indicators -->
    <ol class="carousel-indicators">
      <% @fotos_exposicao.count.times do |index| %> 
        <% if index == 0 %>
          <li data-target="#mycarousel" data-slide-to=<%= index %> class='active' ></li>
        <% else %>
          <li data-target="#mycarousel" data-slide-to=<%= index %>> </li>
        <% end %>
      <% end %>
    </ol>
    <div class="carousel-inner" role="listbox">
      <% @fotos_exposicao.each_with_index do |f, index| %>  
        <% if index == 0 %>
          <div class="item active">
        <% else %>
          <div class="item">
        <% end %>
          <%= image_tag f.picture.url %>
        </div>
      <% end %>
    </div>
     <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">previous</span>
    </a>
    <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">next</span>
    </a>
  </div>
</div>

<!-- GALERIA NOVA -->
<h2 class="titulo-int " style="text-align: center">OBJETOS E SUAS HISTÓRIAS </h2>
<div id="galeria-obj" class="container-fluid" style="background-color: black"> 
  <% if @gabinete_objects_all.any? %>
  <div class="row">
    <% @gabinete_objects_all.each_with_index do |gabinete_object, index| %>  
        <% gabinete_object.photos.each do |ima| %>
          <% @imagem_portada = ima if ima.ocapa == true %>
        <%end%>
        <% if !@imagem_portada.nil? %>
          <% pic = @imagem_portada.picture  %>
          <% @imagem_portada = nil %>
        <% else %>
          <% pic = gabinete_object.photos.first.picture if gabinete_object.photos.any?%>
        <% end %>

        <% his = gabinete_object.histories.first.frase if gabinete_object.histories.any?%>


        <% if !pic.nil? %>
          <div id ="gal-obj_<%= index %>" class="img-gal col-xs-12 col-sm-6 col-md-6" style="background-image: url(<%= pic.url %>);  background-repeat: no-repeat;  background-position: center;  height:150px"> <!-- background-size: 100%; -->'
     <!--          <%= link_to image_tag( pic.url, width:'100%' ), gabinete_object %> -->
        <% else %>
          <div id ="gal-obj_<%= index %>" class="img-gal col-xs-6 col-md-6" style="background-color: gray ">
        <% end %>
          <div id ="info-obj_<%= index %>" class="preview-objeto" style="visibility: hidden; background-color: rgba(0,0,0,.7); round:10px">
            <div class="row">
            <div class="col-xs-8 col-xs-offset-2" >
              <%= link_to 'História', gabinete_object, class:'btn btn-primary', style: "background-color: rgba(0,0,0,.9); margin-top: 5px " %>
            </div>
            </div>
            <h3 style="color: rgb(220,220,220); text-align: center" > <strong> <%= gabinete_object.nome %> </strong> </h3>
            <h4 style="color: rgb(200,200,200); text-align: center" > <%= gabinete_object.pessoa %> |
            <%= gabinete_object.idade %> </h4>
            <p class="his-preview" style="color: white; font-size:15px; margin: 5px" > <i> <%= his if !his.nil? %></i> </p>
          </div>
        </div>
    <% end %>
  <% end %>
  </div>
<br><br>
</div>

<%= javascript_tag do %>
  var ig = $(".img-gal");
  var w = ig.width();
  w = w/2;
//  alert ("w" + w);
  ig.css('height', w);

  $(".img-gal").click( function (event) {
//    alert(event.target.id);
    var numberOut = /[0-9]+/; //tw tiene el formato: 000px, con el número seguido de 'px'
    var id = numberOut.exec(event.target.id); //nos quedamos solo con los números
    var id_o = "info-obj_"+id;
    var visibilidad = document.getElementById(id_o).style.visibility;
    if (visibilidad == 'visible')
      document.getElementById(id_o).style.visibility = "hidden";
    else
      document.getElementById(id_o).style.visibility = "visible";

    //   $(id_o).css('visibility', 'hidden');
 //   alert (visibilidad ); 
  });
  $(".img-gal").mouseenter( function (event) {

  });
  
<% end %>

<!-- GALERIA DE OBJETOS -->
<!--
<div id="galeria-obj" class="container">
<div class='jumbotron row'>
  <h2> Objetos e suas histórias </h2>
  <div class="col-md-12 ">
    <% if @gabinete_objects.any? %>
      <%= will_paginate @gabinete_objects,:params => {:anchor => "galeria-objs"}%>
      <ol class="content gabinete-objects">
        <% @gabinete_objects.each do |gabinete_object| %>  
          <% pic = gabinete_object.photos.first.picture if gabinete_object.photos.any?%>
          <% his = gabinete_object.histories.first.frase if gabinete_object.histories.any?%>
          <li id="gabinete_object-<%= gabinete_object.id %>" >
            <div class="row">
              <div class="col-md-8">
                <span class="content">
                  <% if !pic.nil? %>
                    <%= link_to image_tag( pic.url), gabinete_object %>
                  <% end %>
                </span>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <h3> <strong> <%= gabinete_object.nome %> </strong> </h3>
                </div>
                <div class="row">
                  <div class="col-md-12 centered">
                    <h4> <%= gabinete_object.pessoa %> |
                    <%= gabinete_object.idade %> </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 centered">
                    <p class="his-preview"> <i> <%= his if !his.nil? %></i> </p>
                  <%= link_to 'História', gabinete_object, class:'btn btn-default' %>
                  </div>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ol>
      <%= will_paginate @gabinete_objects,:params => {:anchor => "galeria-objs"} %>
    <% end %>
  </div>
</div>
</div>
-->

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="expo-gallery" class="container">
<div class='jumbotron row'>
  <h2 class="titulo-int">GALERIA DE IMAGENS </h2>
  <br>
  <div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="links">
  <% @fotos_montagem.each do |f| %>
    <a href="<%= f.picture.url %>" title=" " data-gallery>
      <%= image_tag f.picture.url, width: 'auto', height: '100px' %>
    </a>
  <% end %>
  <% @fotos_exposicao.each do |f| %>
    <a href="<%= f.picture.url %>" title=" " data-gallery>
      <%= image_tag f.picture.url,  width: 'auto', height: '100px' %>
    </a>
  <% end %>
   <% @fotos_coleta.each do |f| %>
    <a href="<%= f.picture.url %>" title=" " data-gallery>
      <%= image_tag f.picture.url,  width: 'auto', height: '100px' %>
    </a>
  <% end %>
  <% @fotos_cidade.each do |f| %>
    <a href="<%= f.picture.url %>" title=" " data-gallery>
      <%= image_tag f.picture.url,  width: 'auto', height: '100px' %>
    </a>
  <% end %>
</div>
</div>

<div id='comentarios' class='jumbotorn'>
  <h1 class='titulo-int'> LIVRO DE VISITAS </h1>
  
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table class="table">
        <thead>
          <tr>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% blankCom = [] %>
          <% soNomeCom = [] %>
          <% @comentarios.each do |comment| %>
            <% if comment.exhibit_id == @exhibit.id %>
              <% if comment.pessoa.blank? %>
                <% blankCom << comment %>
                <% next %>
              <% elsif comment.pessoa !~ /[0-9]/ %>
                <% soNomeCom << comment %>
                <% next %>
              <% end %>
              <tr>
                <td  class="titulo-int"><%= comment.comentario %> <%= comment.pessoa %> </td>
              </tr>
            <% end %>
          <% end %>
          <% soNomeCom.each do |comment| %>
             <tr><td class="titulo-int"><%= comment.comentario %> <%= comment.pessoa %> </td> </tr>
          <% end %>
          <% blankCom.each do |comment| %>
            <tr><td class="titulo-int"><%= comment.comentario %> </td> </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <br>
</div>

<!-- Counter -->
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-md-offset-5 ">
        <p> 
          <!-- (         <%= "#{@exhibit.impressionist_count(:filter=>:session_hash)} visitas" %>)  -->
        </p>
    </div>
  </div>
  </div>


<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="js/bootstrap-image-gallery.min.js"></script>

<script>
  $('.carousel').carousel({
   interval: 5000
  });
 </script>   
