<div class="container bg-info">
  <p id="notice"><%= notice %></p>
</div>

<h1>Lista de historias de objetos</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table">
     <thead>
        <tr>
          <th>frase inicial</th>
          <th> <%= link_to 'Objetos', creation_gabinete_objects_path, class: 'btn btn-default' %> </th>
          <th> <%= link_to 'Exposiçoes', creation_exhibits_path, class: 'btn btn-default' %></th>
          <th>ver completa </th>
          <th>editar</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @histories.each do |history| %>
          <% obj = GabineteObject.find_by(id: history.gabinete_object_id) %>
          <% exp = Exhibit.find_by(id: obj.exhibit_id) %>
          <tr>
            <td><%= history.frase %></td>
            <td><%= link_to obj.nome, gabinete_object_path(obj)  , class: 'btn btn-link' %> </td>
            <td><%= link_to_if !exp.nil?, exp.cidade, exhibit_path(exp) , class: 'btn btn-link'%> </td>
            <td><%= link_to 'Show', history %></td>
            <td><%= link_to 'Edit', edit_history_path(history) %></td>
            <td><%= link_to 'Destroy', history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

