<div class="container bg-info">
  <p id="notice"><%= notice %></p>
</div>

<h1>Lista de historias de objetos</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table class="table">
     <thead>
        <tr>
          <th>Memoria</th>
          <th> <%= link_to 'Objetos', gabinete_objects_path, class: 'btn btn-default' %> </th>
          <th> <%= link_to 'Exposiçoes', exhibits_path, class: 'btn btn-default' %></th>
        </tr>
      </thead>
    
      <tbody>
        <% @histories.each do |history| %>
          <% obj = GabineteObject.find_by(id: history.gabinete_object_id) %>
          <% exp = Exhibit.find_by(id: obj.exhibit_id) %>
          <tr>
            <td><%= history.memoria %></td>
            <td><%= link_to obj.nome, gabinete_object_path(obj)  , class: 'btn btn-link' %> </td>
            <td><%= link_to_if !exp.nil?, exp.cidade, exhibit_path(exp) , class: 'btn btn-link'%> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

