<div align="center">
  <h3>Envia uma menssagem para a gente!</h3>
  <br>
  <br>
  <hr>
  <div class='container'>
    <h4 style='color:#444'> <b> losinfinitosmonos@gmail.com </b></h4>
    <h4 style='color:#444'> <b> +55 (11) 98498-8167 </b></h4>
    <h4 style='color:#444'> <b> São Paulo - Brasil </b></h4>
  </div>
  <hr>
  <br>
  <div class='myIframe' id="video-expo" >
    <iframe width="560" height="315" src="https://www.youtube.com/embed/O4rwncPEcsg" frameborder="0" allowfullscreen></iframe>
  </div>

  <!--
  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Enviar!', :class=> "btn btn-primary" %>
    </div>
  <% end %>
  -->
</div>
