<p id="notice"><%= notice %></p>

<h1>Lista de Objetos</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Descripçao</th>
          <th> <%= link_to 'Exposiçoes', creation_exhibits_path, class: 'btn btn-default' %></th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @gabinete_objects.each do |gabinete_object| %>
          <% exh = Exhibit.find_by(id: gabinete_object.exhibit_id) %>
          <tr>
            <td><%= gabinete_object.nome %></td>
            <td><%= gabinete_object.descripcao %></td>
            <td><%= link_to_if !exh.nil?, exh.cidade, exhibit_path(exh) , class: 'btn btn-link'%> </td>
            <td><%= link_to 'Sube foto', new_photo_path(:gabinete_object => gabinete_object, :exhibit => exh ), class:'btn btn-success' %> </td>
            <td><%= link_to 'Sube memoria', new_history_path(:gabinete_object => gabinete_object), class:'btn btn-success' %> </td>
            <td><%= link_to 'Show', gabinete_object %></td>
            <td><%= link_to 'Edit', edit_gabinete_object_path(gabinete_object) %></td>
            <td><%= link_to 'Destroy', gabinete_object, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

