<!-- IMAGEM DE INICIO -->
<div class="expo-ini" style="background: url('<%=@imagem_portada.picture.url if !@imagem_portada.nil? %>') no-repeat center center fixed; "> 
  <div class="espaco-imagem"> 
  </div>
</div>
<br id="lembranca">
<div  class="container-fluid">
      <% if !@gabinete_object.audio_link.nil? %>
        <hr>
          <div class="row" ><div class="col-xs-3 col-xs-offset-6">
          <div class="ui360 ui360-viz" >
            <a href="<%= @gabinete_object.audio_link %>"  onClick="reply_click(this.id)" id= "playpause-<%= @gabinete_object.nome %>" >
              <p class="titulo-int center" style="margin-left: 10px"><strong>    OUVIR </strong>Depoimento.</p>
            </a>
          </div>
        </div></div>
        <hr >
    <% end %>

  <div class="jumbotron row">
    <% if !@imagem_cara.nil? %>
      <div id="imgNome" class="col-md-3"style="background: url('<%=@imagem_cara.picture.url %>')no-repeat fixed; background-position: -206px center; height: 480; ">
    <% else %>
      <div class="col-md-3"style="background-color: rgba(50,50,50, .2) ">
    <% end %>
      <aside>
        <section class="user_info">
          <h1 class="titulo" style="color: white"><%= @gabinete_object.pessoa %> </h1>
        </section>
        <section class="stats">
          <% if @gabinete_object.idade != '' %>
            <h2 class="titulo-int"style="color: white"> <%= @gabinete_object.idade %> anos </h2>
          <% end%>
        </section>
        <section>
          <h3 class="titulo-int"style="color: white"> <%= @gabinete_object.nome %></h3>
        </section>
      </br>
      </aside>
      </div>
      <div id="historia" class="col-md-9">
       <h3>  </h3>
        <%=  simple_format(@gabinete_object.histories.first.memoria, class: "texto-interno") %>
      </div>
   </div>
 </div>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="imagen-obj" class="container-fluid">
<div class='jumbotron row'>
  <h2 class="titulo"> Imagenes do objeto </h2>
  <br>
  <div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="links">
  <% @fotos.each do |f| %>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb" style="background-image: url(<%= f.picture.url %>);  background-repeat: no-repeat;  background-position: center; background-size: 100%;  height:auto">
      <a href="<%= f.picture.url %>" style="background-color: transparent; height:150px; border-style: none" class= "thumbnail" title=" " data-gallery>
      </a>
    </div>
  <% end %>
</div>
</div>


<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="js/bootstrap-image-gallery.min.js"></script>

<script>
$(document).on('ready page:load', function () {
  // Actions to do
   var h = $("#historia").height();
   $("#imgNome").height(h);
   navigationFn.goToSection('#lembranca');
   $("#imgNome").mousemove(function( event ) {
     var mx = event.pageX ;
     console.log("mx: " + mx);
     var p = (mx - 60) / (366-60);
     p = p * 412;
     var bp = ( -p +'px  center');
     console.log("backgroundpos: " + bp); 
     $("#imgNome").css( 'background-position', bp  );
   });
});

  $(document).ready(function(){  
});
    var navigationFn = {
    goToSection: function(id) {
        $('html, body').animate({
            scrollTop: $(id).offset().top
        }, 2000);
    }
   }
</script>
