<!-- IMAGEM DE INICIO -->
<div class="expo-ini" style="background: url('<%=@imagem_portada.picture.url if !@imagem_portada.nil? %>') no-repeat center center fixed; "> 
  <div class="espaco-imagem"> 
  <h1> <%= @gabinete_object.nome %> </h1>
  </div>
</div>


<p>
  <strong>Nome:</strong>
  <%= @gabinete_object.nome %>
</p>

<p>
  <strong>Descripcao:</strong>
  <%= @gabinete_object.descripcao %>
</p>

<p>
  <strong>Pessoa:</strong>
  <%= @gabinete_object.pessoa %>
</p>


<p>
  <strong>Idade:</strong>
  <%= @gabinete_object.idade %>
</p>


<p> Cant de fotos <%= @fotos.count %>
</p>


<%= link_to 'Edit', edit_gabinete_object_path(@gabinete_object) %> |
<%= link_to 'Back', gabinete_objects_path %>
