    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% logo = image_tag("mono_web.png", :alt => "infinitos monos", :class => "logo", size:'80x52') %>
  	      <%= link_to logo, root_path , id: "logo", class: "navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
        <li class="texto-menu" ><%= link_to "INICIO",  root_path , class:"page-scroll", method: :get%></li>

        
        <% if current_page? (root_path) %>
          <li class="texto-menu"><%= link_to "O PROJETO", '#projeto', class:"page-scroll" %></li>
          <li class="texto-menu"><%= link_to "INFINITOS MONOS",  '#infinitos-monos' , class:"page-scroll"%></li>
        <% end %>

        <li class="dropdown">
          <a href="#" class="dropdown-toogle texto-menu" data-toggle="dropdown">
            EXPOSIÇÕES<b class="caret"></b>
          </a>
          <ul class="dropdown-menu texto-menu">
            <% exps = get_exposicoes %>
            <% exps.each do |exhibit| %>
              <% if exhibit.public %>
                <li>  <%= link_to exhibit.cidade, exhibit_path(exhibit)+'#inicio-pag', method: 'get' %> </li>
              <% end %>
            <% end %>
          </ul>
        </li>
          </ul>
          <% if !get_actual_exp.nil? %>
          <ul class="nav navbar-nav navbar-right">
      <% if !get_actual_exp.video_src.blank? %>
            <li class="texto-menu"> <%= link_to 'Video', '#video-expo', class:"page-scroll" %> <li>
          <% end %>
          <li class="texto-menu"> <%= link_to 'A cidade', '#cidade', class:"page-scroll"%> </li>
          <li class="texto-menu"> <%= link_to 'A exposição' ,'#a-expo', class:"page-scroll"%> </li>
          <li class="texto-menu"> <%= link_to 'A coleção' ,'#galeria-obj', class:"page-scroll"%> </li>
          <li class="texto-menu"> <%= link_to 'Imagens' ,'#expo-gallery', class:"page-scroll"%> </li>
          <li class="texto-menu"> <%= link_to 'Livro de visitas' ,'#comentarios', class:"page-scroll"%> </li>
       </ul>
      <% end %>
      <% if !get_actual_obj.nil? %>
       <ul class="nav  navbar-nav navbar-right texto-menu">
         <li> <%= link_to 'Voltar à exposição ', exhibit_path(@exp_obj)+'#galeria-obj',  class:"page-scroll", method: 'get'%> </li>
          <li> <%= link_to 'A historia', '#lembranca', class:"page-scroll"%> </li>
          <li> <%= link_to 'Imagens' ,'#imagen-obj', class:"page-scroll"%> </li>       
          <li> <%= link_to '> PRÓXIMO OBJETO >', gabinete_object_path(@obj_n), method: 'get' %> </li> 

          <li class="dropdown">
            <a href="#" class="dropdown-toogle" data-toggle="dropdown">
             + OBJETOS <b class="caret"></b>
            </a>
            <ul class="dropdown-menu texto-menu">
              <% objs = @exp_obj.gabinete_objects.all %>
              <% objs.each do |o| %>
                <li>  <%= link_to o.nome, o, method: 'get' %> </li>
              <% end %>
            </ul>
          </li>
          </ul>
        <% end %>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

