<!DOCTYPE html>
<html>
<head>
  <title>Gabinete Das Lembranças </title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
  <!--  <link rel="stylesheet" href="css/bootstrap-image-gallery.min.css"> -->
  <%= render 'layouts/google_analytics' %>

  <meta property="og:type" content="website" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:description"  content="Colectivo Infinitos Monos | O Gabinete das Lembranças é uma exposição de objetos significativos e suas memórias. Cada exposição é fruto de uma residência de 10 dias em cada cidade envolvida. Nesse tempo a equipe coleta objetos e histórias entre os moradores que querem participar e serem parte da exposição." />

</head>
<body>

  <% if content_for?(:acbeu) %>
   <%= render 'layouts/header_acbeu' %>
  <%= yield (:acbeu) %>
  <% else %> 
   <%= render 'layouts/header' %>
  <% end %>

  <%= yield %>
  <div class="container">
  <%= render 'layouts/footer' %>
  </div>
			<%= debug(params) if Rails.env.development? %> <!-- this is to not show debug information to users of a deployed app -->
</body>
</html>
